@import "tailwindcss";

input::-ms-clear {
    display: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background: #171717;
    padding: 1px;
    margin-left: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: #404040;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #404040;
}

.gradient {
    background: #18181B;
    background: radial-gradient(
            circle at center,
            #262626 0.25rem,
            transparent 0),
        radial-gradient(circle at center, #262626 0.25rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;
}
